@charset "utf-8";

input[type="radio"] {
	width: 18px;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 75vh;
}

.inputs {
	width: 400px;
}

.e-input {
	width: 250px;
}

.e-btn {
	width: 127.63px;
}