@charset "utf-8";


@import url("/user_Css/button/btns.css");

.inner-container {
	padding-top: 20px; 
	padding-bottom: 20px;	
}

.input-form {
	 width: 400px;
}

.e-input {
	width: 250px;
}

.e-btn {
	width: 127.63px;
}

h1 {
	text-align: center;
}